@font-face {
  font-family: r_light;
  src: url(../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: r_regular;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: r_reg_italic;
  src: url(../fonts/roboto/Roboto-Italic.ttf);
}
@font-face {
  font-family: r_medium;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: r_bold_italic;
  src: url(../fonts/roboto/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: r_bold;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: web_regular;
  src: url(../fonts/Sansus-Webissimo-Regular.ttf);
}
*{
  box-sizing:border-box;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.cols{
  float: left;
  padding: 0 0.625em;
  text-align: center;
}
.col-1{
  width: 8.333333333333333%;
}
.col-2{
  width: 16.66666666666667%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.333333333333333%;
}
.col-5{
  width: 41.66666666666667%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.333333333333333%;
}
.col-8{
  width: 66.66666666666667%;
}
.col-9{
  width: 75%;
}
.col-10{
  width: 83.333333333333333%;
}
.col-11{
  width: 91.66666666666667%;
}
.col-12{
  width: 100%;
}
.row{
  &:before,&:after{
    content:"";
    display: block;
  }
  &:after{
    clear: both;
  }
}


@import 'common/socials';
@import 'index';
@import 'common/header';
@import 'common/footer';
@import 'about';
@import 'projects';
@import 'blog';
