html,body{
}
.indexContainer{
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  background-size: cover;
  background-image: url("../img/photoshop/bg1200.jpg");
}
.autorization{
  padding: 1.5em;
  &__button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font: 1em/2.25em r_medium;
    float: right;
    cursor: pointer;
    outline: none;
    &:hover,&:focus{
      background-color: #083c96;
      border-color: #083c96;
    }
  }
}