.indexContainer{
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  background-size: cover;
  background-image: url("../img/photoshop/bg1200.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.autorization{
  width: 100%;
  padding: 1.5em 0;
  &__buttonHolder{
    padding: 0 0.625em;
    margin-right: 0.825em;
    float: right;
    height: 2.8125em;
    &_button{
      width: 100%;
      height: 100%;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      font: 1em/2.25em r_medium;
      cursor: pointer;
      outline: none;
      &:hover{
        background-color: #083c96;
        border-color: #083c96;
      }
      &:focus{
        border-color: #083c96;
      }

    }
  }
}
.copyright{
  font: 1em/6.25em r_light;
  color: #fff;
  width:100%;
}
.mainContainer{
  overflow: hidden;
  &__wideWrapper{
    width:200%;
    display: flex;
    align-items: center;
    transition-duration: 1s;
    &_moved{
      transform: translateX(-50%);
    }
  }
  &__block{
    width: 50%;
    color: #fff;
    margin: 0 auto;
    padding: 0 0.625em;
    float :left;
      &_info{
      padding: 2em 0;
      background-color: rgba(#1c1f29,0.5);
      text-align: center;
      &_imageHolder{
        width: 9em;
        height: 9em;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        &_image{
          position: absolute;
          top: -99999px;
          bottom: -99999px;
          left: -99999px;
          right: -99999px;
          margin: auto;
        }
      }
      &_text{
        margin-top: 0.625em;
        & p{
          margin: 0;
        }
        &_name{
          font: 1.75em/1.5 r_medium;
        }
        &_aboutSite{
          font: 1em/1.5 r_regular;
        }
      }
      &_socials{
        display: inline-block;
        padding-top: 2em;
        opacity: 0.7;
        & .socials__link{
          opacity: 0.7;
          & path{
            fill:#004cd1;
          }
          &:hover,&:focus{
            opacity: 1;
          }
        }
      }
      &_formTitle{
        text-transform: uppercase;
        font: 2.1875em/1.17 web_regular;
        font-weight: normal;
        margin: 0;
        margin-bottom: 1em;
      }
      &_form{
        padding: 0 1.3125em;
        &_formItem{
          position: relative;
          margin-bottom: 1.25em;
        }
        &_image{
          background: #f0efe9;
          width: 2.8125em;
          height: 2.8125em;
          display: inline-block;
          position: absolute;
          top:0;
          left: 0;
          & svg{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
          }
        }
        &_textInput{
          width: 100%;
          height: 2.8125em;
          padding: 0.625em 1.25em;
          padding-left: 4.0625em;
          border: none;
          color: #373e42;
          font: 1em/1.42 r_regular;
          outline: none;
          &::placeholder{
            color: #373e42;
            opacity: 0.5;
          }
        }
        &_checkboxLabel{
          margin-bottom: .625em;
          display: inline-block;
        }
        &_checkbox,&_radio{
          display: none;
        }
        &_checkbox:checked ~ &_checkIcon{
          border-color: #0548be;
          background-color: #0548be;
          & svg{
            display: block;
          }
        }
        &_checkIcon{
          display: inline-block;
          width: 1.25em;
          height: 1.25em;
          border-radius: 2px;
          border: 2px solid #fff;
          margin-right: .625em;
          opacity: .8;
          position: relative;
          & svg{
            width: 12px;
            height: 9px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            display: none;
          }
        }
        &_radioLabel:not(:last-of-type){
          margin-right: 2.5em;
        }
        &_radio:checked ~ &_radioIcon{
          background-color: #0548be;
        }
        &_radioIcon{
          display: inline-block;
          width: 1.25em;
          height: 1.25em;
          border-radius: 50%;
          border: 6px solid #fff;
          background-color: #fff;
          margin-right: .625em;
          opacity: .8;
        }
        &_text{
          opacity: 0.8;
          font: 1em/1.25 r_medium;
          vertical-align: top;
        }
        &_question{
          display: inline-block;
          opacity: 0.8;
          font: 1em/1.5 r_bold;
          width: 100%;
          margin-bottom: .5em;
        }
      }
    }
    &_links{
      display: flex;
      justify-content: space-between;
      background-color: rgba(#1c1f29,0.5);
      &_link{
        color:#fff;
        flex-grow: 1;
        text-align: center;
        font: 1em/3em r_medium;
        text-decoration: none;
        background-color: rgba(#004cd1,0.85);
        border: none;
        outline: none;
        cursor: pointer;
        &:not(:last-child){
          border-right: 1px solid rgba(#dee3e7,0.5);
        }
        &:hover{
          background-color: #043ea3;
        }
      }
    }
  }
}