footer.footer
  .row.footer__infoContainer
    .footer__infoContainer_info.footer__infoContainer_description Цей сайт було створено в рамках навчання в Школі онлайн освіти LoftSchool
    .footer__infoContainer_info.footer__infoContainer_linkContainer
      .footer__infoContainer_linkContainer_links
        a.footer__infoContainer_linkContainer_links_link(href='/projects.html') Мої роботи 
        a.footer__infoContainer_linkContainer_links_link(href='/about.html') Про мене 
        a.footer__infoContainer_linkContainer_links_link(href='/blog.html') Блог 
        a.footer__infoContainer_linkContainer_links_link(href='/index.html') Авторизация 
      .footer__infoContainer_linkContainer_socials
        include _socials
    .footer__infoContainer_info.footer__infoContainer_contacts
      p skype: kolia_kroshko
      p kolia_kroshko@ukr.net
      p +380938584005
      p Україна, м.Житомир
  .row.footer__copyrightContainer
    include _copyright