footer.footer
  .row.footer__infoContainer
    .footer__infoContainer_info.footer__infoContainer_description Цей сайт було створено в рамках навчання в Школі онлайн освіти LoftSchool
    .footer__infoContainer_info.footer__infoContainer_linkContainer
      .footer__infoContainer_linkContainer_links
        a.footer__infoContainer_linkContainer_links_link(href='#') Мои работы 
        a.footer__infoContainer_linkContainer_links_link(href='#') Обо мне 
        a.footer__infoContainer_linkContainer_links_link(href='#') Блог 
        a.footer__infoContainer_linkContainer_links_link(href='#') Авторизация 
      .footer__infoContainer_linkContainer_socials
        include _socials
    .footer__infoContainer_info.footer__infoContainer_contacts
      p skype: kolia_kroshko
      p mail: kolia_kroshko@ukr.net
      p телефон: +380938584005
      p адреса: Україна, м.Житомир
  .row.footer__copyrightContainer
    .cols.col-12.footer__copyrightContainer_copyright © Микола Крошко | Створено з любов'ю в LoftSchool | 2016