footer.footer
  .row.footer__info
    .cols.col-4 Цей сайт було створено в рамках навчання в Школі онлайн освіти
    .cols.col-5
      .footer__info_links
      .footer__info_socials ff
    .cols.col-3
      p skype: kolia_kroshko
      p mail: kolia_kroshko@ukr.net
      p телефон: +380938584005
      p адреса: Україна, м.Житомир
  .row.footer__copyright © Микола Крошко | Створено з любов'ю в LoftSchool | 2016