footer.footer
  .row.footer__Container
    .footer__info.footer__description Цей сайт було створено в рамках навчання в Школі онлайн освіти LoftSchool
    .footer__info.footer__linkContainer
      .footer__links
        a.footer__links_link(href='/projects.html') Мої роботи 
        a.footer__links_link(href='/about.html') Про мене 
        a.footer__links_link(href='/blog.html') Блог 
        a.footer__links_link(href='/index.html') Авторизация 
      .footer__socials
        include _socials
    .footer__info.footer__contacts
      p skype: kolia_kroshko
      p kolia_kroshko@ukr.net
      p +380938584005
      p Україна, м.Житомир
  .row.footer__copyright
    include _copyright