header.header.row
  img.header__image_stars(src='assets/img/photoshop/bg1200.jpg')
  .header__icons.header__icons_socials.cols.col-2
    a.header__socials_vk(href="https://vk.com/id18103233" target="_blank")
      include ../../icons/vk.svg
    a.header__socials_git(href="https://github.com/xamjo" target="_blank")
      include ../../icons/github.svg
    a.header__socials_in(href="https://www.linkedin.com/in/nikolay-kroshko-472223128?trk=nav_responsive_tab_profile_pic" target="_blank")
      include ../../icons/in.svg
  button.header__icons.header__icons_menuButton(type='button').cols.col-1
    include ../../icons/hamburger.svg
  .header__photo
    .header__photo_image
    include ../../icons/stars1.svg
