header.header.row
  img.header__image_stars(src='assets/img/photoshop/bg1200.jpg')
  .header__socials.header__icons
    include _socials
  button.header__icons.header__icons_menuButton(type='button').cols.col-1
    include ../../icons/hamburger.svg
  .header__photo
    .header__photo_image
    include ../../icons/stars1.svg
