.header{
  height: 785px;
  position: relative;
  overflow: hidden;
  &__image_stars{
    max-width: 100%;
  }
  &__icons{
    position: absolute;
    top: 2em;
    outline: none;
  }
  &__socials{
    left: 2em;
  }
  &__icons_menuButton{
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
   
}
