extends ../common/_head
block vars
  - var title = 'Home page'
block body
  .indexContainer
    .autorization
      button.autorization__button(type="button") Авторизуватися
    .mainContainer
      .col-4.mainContainer__block
        .mainContainer__block_info.
        .mainContainer__block_links
          a.mainContainer__block_links_link(href="#") Мої роботи
          a.mainContainer__block_links_link(href="/about.html") Про мене
          a.mainContainer__block_links_link(href="#") Блог


    .copyright
      include ../common/_copyright