- var title = 'Home page'
include ../common/_head
h2 fkajlsef
h3 a;skjgnaef
h4 askgae
h5 aroga
h6 sdrogks
ul
  li
    a(href="#") lsdkfgsfg
  li
    a(href="#") lsdkfgsfg
  li
    a(href="#") lsdkfgsfg
p askljgnaef
hr