&_formTitle{
  text-transform: uppercase;
  font: 2.1875em/1.17 web_regular;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1em;
}
&_form{
  padding: 0 1.3125em;
  &_formItem{
    position: relative;
    margin-bottom: 1.25em;
  }
  &_checkbox,&_radio{
    display: none;
  }
  @import "indexFormInput";
  @import "indexFormCheckbox";
  @import "indexFormRadio";

  &_text{
    opacity: 0.8;
    font: 1em/1.25 r_medium;
    vertical-align: top;
  }
  &_question{
    display: inline-block;
    opacity: 0.8;
    font: 1em/1.5 r_bold;
    width: 100%;
    margin-bottom: .5em;
  }
}
